In [1]:
import numpy as np 
import pandas as pd 
import time, warnings
import datetime as dt
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
%matplotlib inline
import seaborn as sns
warnings.filterwarnings("ignore")

In [126]:
#importar Febrero 2021
Feb= pd.read_csv('/Users/merchan diana/Bases/Piloto FEB21.csv', sep = ";",decimal=",")
#janT.count()
Feb.head()

,ID CIFRADO LETRAS,dias,proba_tem_may,bin_temp_mayor,cate_temp_mayor,banca,Capital
0,B003,0,1.220000e-07,0,bajo,consumo,12410465
1,33H8,0,5.350000e-08,0,bajo,consumo,3310493
2,8BB0,0,1.030000e-06,0,bajo,consumo,2531853
3,OH6O0,0,2.060000e-04,0,bajo,consumo,4190830
4,B3HB8,0,5.740000e-07,0,bajo,consumo,2975277

In [127]:
Feb=Feb.rename(columns={' Capital ':"Balance" ,"proba_tem_may":"Prodar"
})
Feb.columns
descriptivo_Feb=Feb.describe()
descriptivo_Feb

           dias        Prodar  bin_temp_mayor       Balance
count  162925.0  1.629250e+05   162925.000000  1.629250e+05
mean        0.0  1.286637e-01        0.174356  1.246400e+07
std         0.0  2.707059e-01        0.379417  2.914956e+07
min         0.0  2.200000e-12        0.000000  7.023000e+03
25%         0.0  1.457380e-04        0.000000  1.923029e+06
50%         0.0  2.293841e-03        0.000000  4.107879e+06
75%         0.0  5.279949e-02        0.000000  1.151759e+07
max         0.0  9.999839e-01        1.000000  2.548921e+09

In [128]:
datax = Feb['Prodar'].value_counts()
datay = pd.DataFrame({
'Prodar': datax.index, 
'Frequency': datax.values,
'Percent': ((datax.values/datax.values.sum())*100).round(2),
'Cumulative Frequency': datax.values.cumsum(),
'Cumulative Percent': ((datax.values.cumsum()/datax.values.sum())*100).round(2)
})
dist_ProbFEB=datay

In [129]:
#Dividir Ãºltimo rango de Saldos 30215273 P90
def cat_saldos(df): 
    if df['Balance']>30215273  :
        return 6
    elif ((df['Balance']>15281460) and (df['Balance']<=30215273)):
        return 5
    elif ((df['Balance']>5940491) and (df['Balance']<=15281460)):
        return 4
    elif ((df['Balance']>3152930) and (df['Balance']<=5940491)):
        return 3
    elif ((df['Balance']>1764961) and (df['Balance']<=3152930)):
        return 2
    elif df['Balance']<= 1764961:
        return 1
    else:
        return 0

In [130]:
Feb['Cat_saldo'] = Feb.apply(cat_saldos, axis=1)

In [131]:
Feb['Cat_saldo'] = Feb.apply(cat_saldos, axis=1)
#Grupos de Saldos
datax = Feb['Cat_saldo'].value_counts()
datay = pd.DataFrame({
'Cat_saldo': datax.index, 
'Frequency': datax.values,
'Percent': ((datax.values/datax.values.sum())*100).round(2),
'Cumulative Frequency': datax.values.cumsum(),
'Cumulative Percent': ((datax.values.cumsum()/datax.values.sum())*100).round(2)
})
dist_saldoFeb=datay
dist_saldoFeb

   Cat_saldo  Frequency  Percent  Cumulative Frequency  Cumulative Percent
0          1      36280    22.27                 36280               22.27
1          4      31648    19.42                 67928               41.69
2          2      31063    19.07                 98991               60.76
3          3      31060    19.06                130051               79.82
4          6      16957    10.41                147008               90.23
5          5      15917     9.77                162925              100.00

In [132]:
#Categorizar Probabilidad en  quintiles 

def cat_prob(df): 
    if df['Prodar']>0.10555798:
        return 5
    elif ((df['Prodar']>0.00547691) and (df['Prodar']<=0.10555798)):
        return 4
    elif ((df['Prodar']>0.00078891) and (df['Prodar']<=0.00547691)):
        return 3
    elif ((df['Prodar']>0.00006031) and (df['Prodar']<=0.00078891)):
        return 2
    elif df['Prodar']<=0.00006031:
        return 1
    else:
        return 0

In [133]:
Feb['bucket'] = Feb.apply(cat_prob, axis=1)
#Grupos de Saldos
datax = Feb['bucket'].value_counts()
datay = pd.DataFrame({
'Cat_saldo': datax.index, 
'Frequency': datax.values,
'Percent': ((datax.values/datax.values.sum())*100).round(2),
'Cumulative Frequency': datax.values.cumsum(),
'Cumulative Percent': ((datax.values.cumsum()/datax.values.sum())*100).round(2)
})
dist_probFeb=datay
dist_probFeb

   Cat_saldo  Frequency  Percent  Cumulative Frequency  Cumulative Percent
0          5      34781    21.35                 34781               21.35
1          4      32820    20.14                 67601               41.49
2          1      31969    19.62                 99570               61.11
3          2      31840    19.54                131410               80.66
4          3      31515    19.34                162925              100.00

In [134]:
# Matriz
def marcas(df): 
    if ((df['bucket']==5) and (df['Cat_saldo']>=3)):
        return "1.SA"
    elif ((df['bucket']==5) and (df['Cat_saldo']==2)):
        return "2.A"
    elif ((df['bucket']==5) and (df['Cat_saldo']==1)):
        return "2.A" 
    elif ((df['bucket']==4) and (df['Cat_saldo']==6)):
        return "1.SA" 
    elif ((df['bucket']==4) and (df['Cat_saldo']==5)):
        return "2.A" 
    elif ((df['bucket']==4) and (df['Cat_saldo']==4)):
        return "2.A" 
    elif ((df['bucket']==4) and (df['Cat_saldo']<=3)):
        return "3.M" 
    elif ((df['bucket']==3) and (df['Cat_saldo']==6)):
        return "2.A" 
    elif ((df['bucket']==3) and (df['Cat_saldo']<=5)):
        return "3.M" 
    elif ((df['bucket']==2) and (df['Cat_saldo']==6)):
        return "3.M" 
    elif ((df['bucket']==2) and (df['Cat_saldo']>=2 and df['Cat_saldo']<=5)):
        return "4.B" 
    elif ((df['bucket']==2) and (df['Cat_saldo']==1)):
        return "5.SB" 
    elif ((df['bucket']==1) and (df['Cat_saldo']>=2)):
        return "4.B" 
    elif ((df['bucket']==1) and (df['Cat_saldo']<=2)):
        return "5.SB" 
    else:
        return 0

In [135]:
Feb['Marcas'] = Feb.apply(marcas, axis=1)
datax = Feb['Marcas'].value_counts()
datay = pd.DataFrame({
'Marcas': datax.index, 
'Frequency': datax.values,
'Percent': ((datax.values/datax.values.sum())*100).round(2),
'Cumulative Frequency': datax.values.cumsum(),
'Cumulative Percent': ((datax.values.cumsum()/datax.values.sum())*100).round(2)
})
dist_Marcas=datay
dist_Marcas

  Marcas  Frequency  Percent  Cumulative Frequency  Cumulative Percent
0    3.M      54658    33.55                 54658               33.55
1    4.B      47656    29.25                102314               62.80
2    2.A      24197    14.85                126511               77.65
3   1.SA      23887    14.66                150398               92.31
4   5.SB      12527     7.69                162925              100.00

In [136]:
#marcas por Saldos 
marcas_saldos=Feb.groupby("Marcas")["Balance"].sum()

In [137]:
#unir mÃ¡xima mora 
mora_max_feb= pd.read_csv('/Users/merchan diana/Bases/PriorizaciÂ¢n final_Feb_LP_CP_0_dias_Enviado .csv', sep = ";",decimal=",")
mora_max_feb.head()
mora_max_feb.columns

Index(['ID CIFRADO LETRAS', 'Capital', 'Dias', 'Banca', 'Piloto - Control',
       'cate_no_pago LP', 'cate_temp_mayor LP', 'combinacion LP',
       'cate_no_pago CP', 'cate_temp_mayor CP', 'combinacion CP',
       'PriorizaciÃ³n Final', 'DIAS DE MORA FINAL Febrero'],
      dtype='object')

In [138]:

mora_max_feb=mora_max_feb[['ID CIFRADO LETRAS','DIAS DE MORA FINAL Febrero','Piloto - Control']]
mora_max_feb=mora_max_feb.rename(columns=
{"DIAS DE MORA FINAL Febrero":'max_mora_feb'})
Feb=pd.merge(Feb,mora_max_feb,on="ID CIFRADO LETRAS",how="left")
#Feb.describe()

In [139]:
#Frecuencias mora Febrero
datax = Feb['max_mora_feb'].value_counts()
datay = pd.DataFrame({
'max_mora_feb': datax.index, 
'Frequency': datax.values,
'Percent': ((datax.values/datax.values.sum())*100).round(2),
'Cumulative Frequency': datax.values.cumsum(),
'Cumulative Percent': ((datax.values.cumsum()/datax.values.sum())*100).round(2)
})
moras_feb=datay
#moras_feb

In [140]:
#def caÃ­da > 0
def BR_F1_max(df):
    if df['max_mora_feb']>=1:
        return 1
    else:
        return 0

Feb['Caida']=Feb.apply(BR_F1_max,axis=1)
desc_caida=Feb.describe()
desc_caida

,dias,Prodar,bin_temp_mayor,Balance,Cat_saldo,bucket,max_mora_feb,Caida
count,162925.0,1.629250e+05,162925.000000,1.629250e+05,162925.000000,162925.000000,162925.000000,162925.000000
mean,0.0,1.286637e-01,0.174356,1.246400e+07,3.065859,3.040534,3.753113,0.389161
std,0.0,2.707059e-01,0.379417,2.914956e+07,1.612076,1.426194,7.678492,0.487561
min,0.0,2.200000e-12,0.000000,7.023000e+03,1.000000,1.000000,0.000000,0.000000
25%,0.0,1.457380e-04,0.000000,1.923029e+06,2.000000,2.000000,0.000000,0.000000
50%,0.0,2.293841e-03,0.000000,4.107879e+06,3.000000,3.000000,0.000000,0.000000
75%,0.0,5.279949e-02,0.000000,1.151759e+07,4.000000,4.000000,3.000000,1.000000
max,0.0,9.999839e-01,1.000000,2.548921e+09,6.000000,5.000000,333.000000,1.000000

In [159]:
#def caÃ­da > 5
def BR_F5_max(df):
    if df['max_mora_feb']>=5:
        return 1
    else:
        return 0

Feb['Caida5']=Feb.apply(BR_F5_max,axis=1)
desc_caida5=Feb.describe()
desc_caida5

,dias,Prodar,bin_temp_mayor,Balance,Cat_saldo,bucket,max_mora_feb,Caida,Caida5
count,162925.0,1.629250e+05,162925.000000,1.629250e+05,162925.000000,162925.000000,162925.000000,162925.000000,162925.000000
mean,0.0,1.286637e-01,0.174356,1.246400e+07,3.065859,3.040534,3.753113,0.389161,0.228479
std,0.0,2.707059e-01,0.379417,2.914956e+07,1.612076,1.426194,7.678492,0.487561,0.419854
min,0.0,2.200000e-12,0.000000,7.023000e+03,1.000000,1.000000,0.000000,0.000000,0.000000
25%,0.0,1.457380e-04,0.000000,1.923029e+06,2.000000,2.000000,0.000000,0.000000,0.000000
50%,0.0,2.293841e-03,0.000000,4.107879e+06,3.000000,3.000000,0.000000,0.000000,0.000000
75%,0.0,5.279949e-02,0.000000,1.151759e+07,4.000000,4.000000,3.000000,1.000000,0.000000
max,0.0,9.999839e-01,1.000000,2.548921e+09,6.000000,5.000000,333.000000,1.000000,1.000000

In [161]:
#def caÃ­da > 10
def BR_F10_max(df):
    if df['max_mora_feb']>=10:
        return 1
    else:
        return 0

Feb['Caida10']=Feb.apply(BR_F10_max,axis=1)
desc_caida10=Feb.describe()
desc_caida10

,dias,Prodar,bin_temp_mayor,Balance,Cat_saldo,bucket,max_mora_feb,Caida,Caida5,Caida10
count,162925.0,1.629250e+05,162925.000000,1.629250e+05,162925.000000,162925.000000,162925.000000,162925.000000,162925.000000,162925.000000
mean,0.0,1.286637e-01,0.174356,1.246400e+07,3.065859,3.040534,3.753113,0.389161,0.228479,0.137603
std,0.0,2.707059e-01,0.379417,2.914956e+07,1.612076,1.426194,7.678492,0.487561,0.419854,0.344484
min,0.0,2.200000e-12,0.000000,7.023000e+03,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,1.457380e-04,0.000000,1.923029e+06,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,2.293841e-03,0.000000,4.107879e+06,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000
75%,0.0,5.279949e-02,0.000000,1.151759e+07,4.000000,4.000000,3.000000,1.000000,0.000000,0.000000
max,0.0,9.999839e-01,1.000000,2.548921e+09,6.000000,5.000000,333.000000,1.000000,1.000000,1.000000

In [162]:
#def caÃ­da > 15
def BR_F15_max(df):
    if df['max_mora_feb']>=15:
        return 1
    else:
        return 0

Feb['Caida15']=Feb.apply(BR_F15_max,axis=1)
desc_caida15=Feb.describe()
desc_caida15

,dias,Prodar,bin_temp_mayor,Balance,Cat_saldo,bucket,max_mora_feb,Caida,Caida5,Caida10,Caida15
count,162925.0,1.629250e+05,162925.000000,1.629250e+05,162925.000000,162925.000000,162925.000000,162925.000000,162925.000000,162925.000000,162925.000000
mean,0.0,1.286637e-01,0.174356,1.246400e+07,3.065859,3.040534,3.753113,0.389161,0.228479,0.137603,0.093601
std,0.0,2.707059e-01,0.379417,2.914956e+07,1.612076,1.426194,7.678492,0.487561,0.419854,0.344484,0.291274
min,0.0,2.200000e-12,0.000000,7.023000e+03,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,1.457380e-04,0.000000,1.923029e+06,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,2.293841e-03,0.000000,4.107879e+06,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.0,5.279949e-02,0.000000,1.151759e+07,4.000000,4.000000,3.000000,1.000000,0.000000,0.000000,0.000000
max,0.0,9.999839e-01,1.000000,2.548921e+09,6.000000,5.000000,333.000000,1.000000,1.000000,1.000000,1.000000

In [163]:
#def caÃ­da > 20
def BR_F20_max(df):
    if df['max_mora_feb']>=20:
        return 1
    else:
        return 0

Feb['Caida20']=Feb.apply(BR_F20_max,axis=1)
desc_caida20=Feb.describe()
desc_caida20

,dias,Prodar,bin_temp_mayor,Balance,Cat_saldo,bucket,max_mora_feb,Caida,Caida5,Caida10,Caida15,Caida20
count,162925.0,1.629250e+05,162925.000000,1.629250e+05,162925.000000,162925.000000,162925.000000,162925.000000,162925.000000,162925.000000,162925.000000,162925.000000
mean,0.0,1.286637e-01,0.174356,1.246400e+07,3.065859,3.040534,3.753113,0.389161,0.228479,0.137603,0.093601,0.076029
std,0.0,2.707059e-01,0.379417,2.914956e+07,1.612076,1.426194,7.678492,0.487561,0.419854,0.344484,0.291274,0.265045
min,0.0,2.200000e-12,0.000000,7.023000e+03,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,1.457380e-04,0.000000,1.923029e+06,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,2.293841e-03,0.000000,4.107879e+06,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.0,5.279949e-02,0.000000,1.151759e+07,4.000000,4.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,0.0,9.999839e-01,1.000000,2.548921e+09,6.000000,5.000000,333.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [149]:
Feb.columns

Index(['ID CIFRADO LETRAS', 'dias', 'Prodar', 'bin_temp_mayor',
       'cate_temp_mayor', 'banca', 'Balance', 'Cat_saldo', 'bucket', 'Marcas',
       'max_mora_feb', 'Piloto - Control', 'Caida'],
      dtype='object')

In [164]:
Feb.groupby('Piloto - Control').size()

Piloto - Control
Control    81483
Piloto     81442
dtype: int64

In [169]:
#caÃ­das por grupos dell Piloto 
piloto_Feb=Feb[Feb["Piloto - Control"]=="Piloto"]
volumen_asignado=piloto_Feb.groupby('Marcas').size()
caidas=piloto_Feb.groupby('Marcas').agg({'Balance':['sum'] ,'Caida':['mean','sum'] ,'Caida5':['mean','sum'],'Caida10':['mean','sum'],'Caida15':['mean','sum'],'Caida20':['mean','sum']})
caidas

             Balance     Caida           Caida5         Caida10        \
                 sum      mean    sum      mean   sum      mean   sum
Marcas
1.SA    323361700936  0.593235   7085  0.425772  5085  0.301767  3604
2.A     154877793004  0.507585   6090  0.342974  4115  0.225704  2708
3.M     230776839738  0.411870  11305  0.222384  6104  0.115600  3173
4.B     294148720478  0.248182   5905  0.115916  2758  0.054428  1295
5.SB      7493691050  0.186581   1168  0.080351   503  0.034665   217

         Caida15         Caida20
            mean   sum      mean   sum
Marcas
1.SA    0.229088  2736  0.193419  2310
2.A     0.160027  1920  0.133106  1597
3.M     0.068894  1891  0.054248  1489
4.B     0.031480   749  0.023704   564
5.SB    0.018530   116  0.013898    87

In [170]:
path = r"/Users/merchan diana/Egnyte/Private/merchan.diana/DM_3_2021/11. Bco Occidente/5_pruebas_PCP/Output/Matriz otros meses FEB OP2 26MAR21.xlsx"
writer = pd.ExcelWriter(path, engine = "xlsxwriter")
descriptivo_Feb.to_excel(writer, sheet_name="1_Desc_FEB")
dist_ProbFEB.to_excel(writer, sheet_name="2_Dist_P_FEB")
dist_saldoFeb.to_excel(writer, sheet_name="3_Dist SAldos FEB")
dist_probFeb.to_excel(writer, sheet_name="4_Dist Prob FEB")
dist_Marcas.to_excel(writer, sheet_name="5 Marcas FEB")
marcas_saldos.to_excel(writer, sheet_name="6 MarcasxSaldos FEB")
moras_feb.to_excel(writer, sheet_name="7 Caidas mes Feb")
desc_caida.to_excel(writer, sheet_name="8 Prom Caida")
volumen_asignado.to_excel(writer, sheet_name="9 Clientes Asignados")
caidas.to_excel(writer, sheet_name=" Caida por Grupo")
#Feb.to_excel(writer, sheet_name="5 FEB")
writer.save()
writer.close()